# .travis.yml Execution script for role tests on Travis-CI
---
dist: xenial
sudo: required

env:
  global:
    - ANSIBLE_VERSION=2.5
  matrix:
    - DISTRIBUTION: centos
      VERSION: 7
#    - DISTRIBUTION: centos
#      VERSION: 8
    - DISTRIBUTION: ubuntu
      VERSION: 16.04
    - DISTRIBUTION: ubuntu
      VERSION: 18.04
#    - DISTRIBUTION: debian
#      VERSION: 9

services:
  - docker

before_install:
  # Install latest Git
  - sudo apt-get update
  - sudo apt-get install --only-upgrade git
  # Allow fetching other branches than master
  #- git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
  # Fetch the branch with test code
  #- git fetch origin docker-tests
  #- git worktree add docker-tests origin/docker-tests
  # retrieve centralized script
  - |
    for i in docker-tests.sh functional-tests.sh ansible.cfg; do
      wget -O docker-tests/${i} https://raw.githubusercontent.com/open-io/ansible-role-openio-skeleton/docker-tests/${i}
    done
  # Lint
  - sudo pip install --upgrade pip
  - sudo pip install ansible-lint yamllint

script:
  # Lint
  #- ansible-lint . -x ANSIBLE0016
  - yamllint .


  # Running the test script the first time will set up the first server
  # with IP 172.17.0.2. Running it the second time sets up the second and
  # third server with IP 172.17.0.3 and 172.17.0.4.
  - ./docker-tests/docker-tests.sh
  - ./docker-tests/docker-tests.sh
  - ./docker-tests/docker-tests.sh

  # Run functional tests on both master and slave server
  - SUT_IP=172.17.0.2 ./docker-tests/functional-tests.sh
  # Ensure the slave gets the chance to receive zone updates from the master
  - sleep 6s
  - SUT_IP=172.17.0.3 ./docker-tests/functional-tests.sh
  - sleep 6s
  - SUT_IP=172.17.0.4 ./docker-tests/functional-tests.sh
...
