---
#- name: add apt key
#  apt_key:
#    keyserver: keyserver.ubuntu.com
#    id: "{{ openio_galera_repo_gpgkey }}"
#
#- name: repository installation
#  apt_repository:
#    filename: "{{ openio_galera_repo_filename }}"
#    repo: "{{ openio_galera_repo_baseurl }}"
#    #update_cache: yes

- name: update cache
  apt:
    update_cache: yes
  changed_when: false
...
