# {{ ansible_managed }}
[galera]
wsrep_on=ON
wsrep_provider={{ openio_galera_wsrep_provider }}
wsrep_node_name={{ ansible_hostname }}
wsrep_node_address={{ openio_galera_bind_address }}
{% if openio_galera_wsrep_cluster_address and openio_galera_wsrep_cluster_address != '0.0.0.0' %}wsrep_cluster_address={{ openio_galera_wsrep_cluster_address }}
{% endif %}
wsrep_cluster_name={{ openio_galera_cluster_name }}
wsrep_max_ws_rows={{ openio_galera_wsrep_max_ws_rows }}
wsrep_max_ws_size={{ openio_galera_wsrep_max_ws_size }}
wsrep_sst_method={{ openio_galera_wsrep_sst_method }}
wsrep_certify_nonPK={{ openio_galera_wsrep_certify_nonPK }}
wsrep_sst_auth={{ openio_galera_sst_user }}:{{ openio_galera_sst_password }}
{% for k, v in openio_galera_extra_parameters.iteritems() %}
{{ k }}={{ v }}
{% endfor %}